* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    justify-items: center;
    background: linear-gradient(-45deg, #9c92f0, #bea5af, #e6a339, #e78230);
    background-size: 400% 400%;
    animation: gradient 18s ease infinite;
}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
         background-position: 100% 50%;
    }
    100% {
           background-position: 0% 50%;
    }
}

.tittle {
    width: 60vw;
    margin: auto;
    justify-self: center;
}
.tittle h1 {
    font-weight: 800;
}

.main-container {
    width: auto;
    height: 500px;
    margin: auto;
    background-color: rgb(255, 235, 205, 0.2);
    border: burlywood 2px solid;
    border-radius: 8px;
}

.visualcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 70vw;
    height: 300px;
    margin: 20px;
    background-image: url("assets/background-for-games-apps-or-mobile-development-vector-11341960.jpg");
    
    background-size: cover;
    border:  #383331 3px solid;
    border-radius: 4px;
    
}


.statsbox {
    width: 1fr;
    height: 110px;
    color:seashell;
    padding: 5px;
    background-color: rgba(41, 40, 39, 0.4);
    border:rgb(255, 235, 205, 0.5) 2px solid;
    border-radius: 5px;
    backdrop-filter: blur(2px);
}
.statsbox h2{
    display: flex;
    justify-content: center;
}
.statsbox .infoplayer{
    display: flex;
}
.infoplayer p{
    padding: 10px;
}


.player {
    width: 1fr;
    height: 180px;
    color:seashell;
    padding: 5px;
    background-color: rgba(41, 40, 39, 0.2);
    border:rgb(255, 235, 205, 0.2) 2px solid;
    border-radius: 5px;
    backdrop-filter: blur(2px);
}


.creationpanelcontainer {
    width: 1fr;
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    border:rgb(141, 122, 97) 2px solid;
}

.logpanelcontainer {
    width: 1fr;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: chocolate 2px solid;
    border-radius: 5px;
    background-color: rgb(222, 184, 135, 0.3);
}
.btncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    width: 1fr;
    height: 80px;
    margin: 10px;
    padding: 5px;
    border: chocolate 2px solid;
    border-radius: 5px;
    background-color: rgb(222, 184, 135, 0.3);
}
.btn {
   width: 40px;
   height: 40px;
   margin: 5px;
}
#btnpanel1 {
    display: flex;
    grid-column: 1;
    grid-row: 1;
}   
#btnpanel2 {
    display: flex;
    grid-column: 2;
    grid-row: 1;
}
